#t {
  color: #88b04b;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  /* font-size: 30px; */
  margin-bottom: 10px;
  text-align: center;
  font-size: clamp(15px, 3vw, 30px);
}
#success_table,
#you {
  color: red;
  text-align: center;
  margin-right: 20px;
}

.card1 p {
  color: #eff7ff;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  /* font-size: 20px; */
  font-size: clamp(15px, 3vw, 20px);
  margin: 0;
}

.checkmark {
  color: #9abc66;
  /* font-size: 2vw; */
  line-height: 100px;
  margin-left: -15px;
  font-size: clamp(80px, 2vw, 2px);
}

.cussess_page {
  max-width: 700px;
  margin: auto;
  background: rgb(255, 255, 255);
  padding: 10px;
  min-width: 100px;
  margin-top: 150px;
  height: 40vh;
  border: 1px solid;
}
.cussess_page p {
  font-size: clamp(10px, 4vw, 20px);
  margin-left: 50px;
}
.cussess_page p td {
  font-size: clamp(10px, 4vw, 20px);
  padding: 10px;
}
.cussess_page p th {
  font-size: clamp(10px, 4vw, 20px);
  padding: 4px;
}
.cussess_page td {
  border: 1px solid;
  /* background-color: rgb(90, 139, 204); */
}
.cussess_page th {
  border: 1px solid;
  color: rgb(0, 0, 0);
  /* background-color:yellow; */
}
#suceess {
  color: green;
  margin-left: 150px;
}
#circle_success {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  /* background: rgb(71, 207, 128); */
  margin-left: 250px;
}
#circle_success img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
